@inherits ViewPage<List<Ignition.Contracts.SummaryResponse>>

@{
    Layout = "_Layout";
    ViewBag.Title = "SummariesController";
}
<div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

</div>